body {
    background-color: #586d6a;
}

.App {
    text-align: center;
    color: #21201a;
}

.flex {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.form-container {
    margin: 50px 0;
    background-color: #c5c3bc;
}

.filter-container {
    background-color: #0b0404;
    color: white;
}

.flex-filter {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background: #c5c3bc
}

tbody tr:nth-child(odd) {
    background: #99978a
}

th {
    padding: 6px;
    text-align: center;
}

thead th {
    border-bottom: 2px solid #21201a;
    text-align: center;
    padding: 6px;
}


tbody td {
    padding: 4px;
    border: 1px solid #000;
    text-align: center;
}

tr {
    border: 1px solid #99978a;
}

.add-button {
    border-radius: 50px;
    border: 1px solid;
    padding: 6px;
}

.sort-button {
    font-size: 12px;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #99978a;
}


.clear-button {
    margin-top: 25px;
    font-size: 18px;
}


h3 {
    padding-top: 25px
}

form select, form input {
    margin-left: 12px;
    padding: 6px;
}

.song-list {
    color: white;
    padding: 20px 0;
}


